@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro';
    margin: 0;
}

.main-page {
    display: flex; 
}

/* CSS elements left page */

.left-page {
    height: 100%;
    width: 320px;
    display: flex; 
    flex-direction: column;
    padding: 40px; 
    box-sizing: border-box; 
    position: fixed; 
}

.separating-bar {
    height: 1px;
    background-color: #ececee; 
    width: 150px; 
    align-self: center; 
    margin-top: 10px;
    margin-bottom: 10px; 
}

.top-left-page {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.top-left-page__icons {
    display: flex;
    justify-content: space-between;
    font-size: 20px; 
    color: #c1c1ca; 
}

.fa-bell {
    position: relative; 
}

.fa-bell::after {
    content: "2";
    font-size: 10px; 
    text-align: center; 
    color: #fff;
    font-family: 'Source Sans Pro'; 
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background-color: #f9772f;
    position: absolute; 
    top: 1.5px;
    left: 7.5px; 
}

.top-left-page__picture {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.user-picture {
    width: 70px; 
    border-radius: 50%; 
    border: 3px solid #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.top-left-page__title {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
    margin-bottom: 20px; 
}

.top-left-page__title h1 {
    margin: 0; 
    font-weight: 700; 
    color: #141212; 
}

.middle-left-page {
    margin-left: 20px; 
}

.active {
    background-color: #10844c; 
    border-radius: 30px; 
}

.active i,
.active span {
    color: #fff; 
}

.middle-left-page a {
    text-decoration: none;
}

.left-page__menu {
    color: #a2a2b0; 
    padding: 15px;
    margin-left: -15px; 
    margin-right: 15px; 
}

.left-page__menu span {
    margin-left: 10px; 
}

.bottom-left-page {  
    margin-left: 20px; 
}

.bottom-left-page a {
    text-decoration: none;
}

/* CSS elements right page */

.right-page {
    height: 100%; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 40px; 
    margin-left: 320px; 
}

.right-page-highlight {
    background-color: #f9f9fb;
    width: 100%; 
    height: 300px; 
    border-radius: 30px; 
    display: flex; 
}

.right-page-highlight__title {
    padding: 70px 60px; 
}

.right-page-highlight__title a {
    text-decoration: none; 
    color: #141212;  
    font-weight: 600; 
}

.right-page-highlight__title h1 {
    margin: 0; 
    font-family: 'Libre Baskerville'; 
    font-size: 36px;  
}

.right-page-highlight__links {
    margin-top: 30px; 
}

.right-page-highlight__links i {
    color: #fff;
    background-color: #10844c; 
    padding: 10px 12px 10px 10px; 
    border-radius: 50%; 
    font-size: 16px; 
}

.right-page-highlight__links span {
    margin-left: 10px;    
    font-size: 18px; 
}

.right-page-highlight__images {
    align-self: flex-end; 
    margin-left: 200px; 
    margin-right: 100px; 
}

.highlight-back {
    width: 120px; 
    border-radius: 10px;
}

.highlight-front {
    width: 160px; 
    border-radius: 10px;
}

.right-page-releases {
    margin-top: 30px; 
}

.right-page-releases__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-page-releases__title h1 {
    font-family: 'Libre Baskerville'; 
    margin: 0; 
    font-weight: 600; 
}

.right-page-releases__title a {
    text-decoration: none; 
    font-weight: 600; 
    color: #302f2f; 
}

.right-page-releases__button {
    background-color: #f6f7fa; 
    padding: 10px;
    border-radius: 10px;  
}

.right-page-releases__allbooks {
    display: flex; 
    justify-content: space-between;
    margin-top: 20px; 
    margin-left: -20px;
}

.right-page-releases__book {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 200px; 
}

.book-release { 
    width: 150px; 
    border-radius: 10px;
}

.right-page-releases__book h2 {
    margin: 0;
    font-family: 'Libre Baskerville'; 
    font-size: 18px; 
    font-weight: bold; 
    width: 150px; 
    margin-top: 5px; 
}

.right-page-releases__book span {
    width: 150px; 
    margin-top: 5px; 
    color: #8c8c9e; 
}

.book-rating {
    width: 150px; 
    color: #ffd43a; 
    margin-top: 5px; 
}

.right-page-attribution {
    margin-top: 30px; 
    display: flex;
    flex-direction: column; 
}

.right-page-attribution a {
    text-decoration: none; 
    color: #302f2f; 
    font-size: 12px; 
}

/* CSS media query elements */

@media only screen and (max-width: 1070px) {
    .right-page-highlight__images {
        align-self: flex-end; 
        margin-left: 100px; 
        margin-right: 80px; 
    }
    .right-page-releases__allbooks {
        flex-wrap: wrap; 
        flex-wrap: wrap; 
        margin-top: 0; 
        justify-content: flex-start;
    }
    .right-page-releases__book {
        margin-top: 20px; 
    }
}

@media only screen and (max-width: 950px) {
    .right-page-highlight {
        height: 200px; 
    }
    .right-page-highlight__title {
        padding: 40px 30px; 
    }
    .right-page-highlight__title h1 {
        font-size: 20px;  
    }
    .right-page-highlight__links i {
        font-size: 12px; 
    }  
    .right-page-highlight__links span {
        font-size: 10px; 
    }
    .right-page-highlight__images {
        align-self: flex-end; 
        margin-left: 0; 
        margin-right: 0; 
    }
    .highlight-back {
        width: 60px; 
    }
    
    .highlight-front {
        width: 100px; 
    }
}