@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans'; 
    color: #282739; 
}

h1 {
    margin: 0; 
}

p {
    margin: 0; 
}

.background-img {
    height: 100vh; 
    margin-left: -60px; 
    position: absolute; 
}

.main {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh; 
}

.main-top {
    padding: 40px 80px 0 0;
}

.main-top i {
    font-size: 60px; 
    cursor: pointer;
}

.main-section {
    padding: 0 80px 0 0;
    width: 34vw; 
    margin-top: -100px; 
}

.main-section_steps {
    display: flex; 
    margin-left: -15px; 
}

.main-section_number {
    margin-left: 15px; 
    padding: 10px; 
    cursor: pointer; 
}

.main-section_number a {
    text-decoration: none;
    color: #d6dbe7; 
}

.active {
    background-color: #f6f7fb; 
}

.active a {
    color: #3f48cc;
}

.main-section_step1_title h1 {
    font-size: 32px; 
    font-weight: 800; 
    margin-top: 10px; 
}

.main-section_step1_title p {
    color: #5c5a6a;
    margin: 20px 0;
}

.main-section_step1_form {
    width: 300px; 
}

.main-section_step1_form form {
    display: flex; 
    flex-direction: column;
}

.label-form {
    color: #5c5a6a;
    font-size: 13px; 
    margin-bottom: 7px; 
}

.input-box {
    display: flex; 
    background-color: #f6f7fb; 
    padding: 10px; 
    border-radius: 3px;
}

.input-box input {
    flex-grow: 1; 
    background-color: #f6f7fb; 
    border: none; 
    outline: none; 
}

.input-box i {
    color: #4d4b5d;
    cursor: pointer; 
}

.next-btn {
    margin-top: 20px; 
    outline: none;
    border: none; 
    background-color: #3f48cc; 
    color: #fff; 
    border-radius: 3px;
    padding: 10px; 
    cursor: pointer;
}

.main-bottom {
    padding: 0 80px 40px 0;
    width: 34vw; 
    color: #b4b4ba;
    font-size: 14px;
}

.main-bottom a {
    text-decoration: none;
    color: #3f48cc; 
}

/* media queries */

@media only screen and (max-width: 1340px) {
    
}