@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: Lato; 
}

.header-nav {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    padding: 5px 30px; 
}

header a {
    text-decoration: none; 
}

nav {
    width: 800px; 
    flex-grow: 1; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-weight: bold; 
}

#selected-nav {
    color: #FC6A5B;
}

#selected-nav hr {
    visibility: visible; 
}

nav a:hover {
    color: #FC6A5B;
}

nav a hr {
    visibility: hidden;
    border: 0;
    height: 1px;
    background: #FC6A5B; 
    width: 50%; 
}

nav a:hover hr {
    visibility: visible; 
}

nav a {
    color: black; 
}

.dribbble-logo {
    width: 150px; 
    align-self: center; 
}

.login-button {
    border: 2px solid #343160; 
    border-radius: 20px; 
    color: #343160; 
    margin-right: 20px; 
    padding: 5px 30px; 
}

.signup-button {
    border: 2px solid #343160; 
    border-radius: 20px; 
    padding: 5px 30px; 
    background-color: #343160;
    color: white;
}

#front-page {
    display: flex;
}

.left-fp {
    flex-grow: 1; 
}

.text-fp {
    width: 500px; 
    margin-top: 100px; 
    margin-left: 100px; 
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 60px; 
    line-height: 1.6; 
}

.text-fp p {
    margin-top: -20px;
    margin-bottom: 50px; 
    font-size: 20px; 
}

form input {
    background-color: #FDEDEE; 
    border: none; 
    border-radius: 20px 0px 0px 20px; 
    padding: 10px 30px; 
    width: 300px; 
    color: #FC6A5B; 
    font-weight: bold; 
    font-family: Lato; 
}

form input:focus {
    outline: none; 
}

::placeholder {
    color: #FC6A5B; 
    font-weight: bold; 
}

.searchButton {
    background-color: #FC6A5B; 
    border: none; 
    color: white; 
    padding: 10px 30px; 
    border-radius: 20px; 
    margin-left: -20px; 
    font-weight: bold; 
}

hr.line-separator {
    height: 12px;
    border: 0;
    box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.1);
    width: 100%; 
    position: absolute; 
    right: 0;
    left: -1215px; 
    margin-top: 570px; 
}

.bottom-links {
    margin-top: 190px; 
    margin-left: -40px; 
}

.bottom-links a {
    text-decoration: none; 
    color: black; 
}

.image-fp {
    width: 600px; 
    height: 800px;
}

@media screen and (max-width: 1265px) {
    .login-button {
        padding: 4px 20px;
    }
    .signup-button {
        padding: 4px 20px;
    }
}