@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: Source Sans Pro; 
    font-weight: 300; 
}

/* header css elements */

#header-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 30px; 
    font-size: 15px; 
}

.logo {
    width: 100px; 
}

header a {
    text-decoration: none; 
    color: #111211; 
    font-weight: 400; 
}

header nav {
    flex-grow: 1; 
    margin: 0 150px; 
}

nav ul {
    margin: 0; 
    list-style: none; 
    display: flex; 
    justify-content: space-evenly; 
}

#menu-icon {
    visibility: hidden; 
}

.top-icons {
    width: 30px; 
    margin-left: 20px;
    color: #BAC0BD; 
}

header hr {
    border-top: 1px solid #BAC0BD; 
}

/* front page css elements */

#front-page {
    margin-right: 0; 
    display: flex; 
}

.fp-icons {
    color: #BAC0BD; 
}

/* left front page css elements */

#left-fp {
    flex-grow: 1; 
    margin: 40px 100px; 
}

#left-fp ul {
    list-style: none; 
    display: flex; 
    justify-content: space-evenly; 
    position: relative; 
    width: 550px; 
}

#left-fp ul li {
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.circle-stage {
    background-color: #2E86DF; 
    width: 10px;
    height: 10px; 
    border-radius: 50%; 
    background-clip: content-box;
    margin: 0 auto; 
    padding: 2px;
    border: 2px solid #2E86DF; 
    position: relative; 
}

.spacer {
    background-color: #2E86DF; 
    height: 3px;
    flex-grow: 1; 
    margin-top: 8px; 
    margin-left: -10px;
}

#circle-account::after {
    content: "";
    height: 3px;
    width: 100%; 
    background-color: #2E86DF; 
    position: absolute; 
    top: 6px; 
    left: 14px;
}

#circle-shipping::before {
    content: "";
    height: 3px;
    width: 100px; 
    background-color: #2E86DF; 
    position: absolute; 
    top: 6px; 
    right: 14px;
}

#circle-shipping::after {
    content: "";
    height: 3px;
    width: 100%; 
    background-color: #2E86DF; 
    position: absolute; 
    top: 6px; 
    left: 14px;
}

#circle-payment {
    border: 2px solid #BAC0BD; 
}

#circle-payment::before {
    content: "";
    height: 3px;
    width: 100px; 
    background-color: #2E86DF; 
    position: absolute; 
    top: 6px; 
    right: 14px;
}

#circle-payment::after {
    content: "";
    height: 3px;
    width: 100%; 
    background-color: #BAC0BD; 
    position: absolute; 
    top: 6px; 
    left: 14px;
}

.spacer-grey {
    background-color: #BAC0BD; 
    height: 3px;
    flex-grow: 1; 
    margin-top: 8px; 
    margin-left: -10px;
}

#circle-review {
    background-color: #BAC0BD; 
    border: 2px solid #BAC0BD;
}

#circle-review::before {
    content: "";
    height: 3px;
    width: 100px; 
    background-color: #BAC0BD; 
    position: absolute; 
    top: 6px; 
    right: 14px;
}

.form-label {
    color: #3F3C3A; 
    font-weight: 400; 
    padding-left: 13px;
    display: block; 
    margin-bottom: 10px; 
}

#payment-details {
    margin-left: 40px; 
    margin-top: 50px; 
    width: 550px; 
}

#payment-details label {
    margin-top: 10px; 
}

h1 {
    font-weight: 500; 
    font-size: 25px; 
}

.payment-input {
    background-color: rgba(186, 192, 189, 0.2);
    height: 40px; 
    width: 100%;  
    border: none; 
    border-radius: 5px; 
}

.expiration-cvc {
    display: flex; 
}

.expiration-input {
    display: flex; 
    align-items: baseline; 
}

.expiration-input p {
    margin-right: 10px;
    margin-left: 10px; 
    margin-block-start: 0;
    margin-block-end: 0; 
}

.expiration-input input {
    width: 60px; 
}

.cvc-form {
    margin-left: 20px; 
    flex-grow: 1; 
}

::placeholder {
    padding-left: 20px; 
    font-size: 15px; 
    font-family: Source Sans Pro; 
}

#review-button {
    background-color: #2E86DF; 
    border: 1.5px solid #2E86DF; 
    color: white; 
    height: 40px; 
    border-radius: 5px; 
    padding-left: 60px; 
    padding-right: 60px; 
    margin-top: 20px; 
}

.bottom-links {
    margin-top: 40px; 
    margin-left: 40px; 
}

.bottom-links a {
    text-decoration: none;
    font-size: 13px; 
    color: black; 
}

/* right front page css elements */

#right-fp {
    width: 450px; 
    border-left: 1px solid #BAC0BD; 
}

#right-fp hr {
    border-top: 1px solid #BAC0BD; 
}

#right-fp > div {
    padding: 10px 30px; 
}

h2 {
    font-weight: 400; 
    margin-block-start: 0; 
}

.order-summary__books {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.order-summary__books p {
    width: 200px; 
    margin-block-start: 0;
    margin-block-end: 0; 
    font-size: 14px; 
}

.line-price {
    letter-spacing: 0.2rem;
}

#order-summary__Quiet {
    margin-top: 20px; 
}

.order-books {
    width: 120px; 
    height: auto; 
}

#discount-form {
    background-color: rgba(186, 192, 189, 0.2);
    height: 40px; 
    width: 250px; 
    border: none; 
    border-radius: 5px; 
}

#apply-button {
    background-color: white; 
    border: 1.5px solid #2E86DF; 
    color: #2E86DF; 
    height: 40px; 
    border-radius: 5px; 
    padding-left: 25px; 
    padding-right: 25px; 
    margin-left: 10px; 
}

.total-summary__rows {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 15px; 
}

.total-summary__rows p {
    margin-block-start: 0; 
    margin-block-end: 0; 
    font-weight: 300;
}

/* responsive media queries elements */

@media only screen and (max-width: 1160px) {
    header nav {
        display: none; 
    }
    #menu-icon {
        visibility: visible; 
    }
    .top-icons {
        font-size: 20px; 
    }
}

@media only screen and (max-width: 400px) {
    #search-icon {
        display: none; 
    }
    #cart-icon {
        display: none; 
    }
}