  
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro';
    margin: 0;
}

.menu-left {
    position: fixed;
    height: 100vh;
    width: 150px;
    background: rgb(6,131,254);
    background: linear-gradient(190deg, rgba(6,131,254,1) 35%, rgba(30,165,250,1) 100%);
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px; 
    box-sizing: border-box;
    align-items: center;
}

.menu-left button {
    background: none; 
    border: none; 
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer; 
    font-size: 26px; 
}

.menu-left_top {
    background-color: #389cfd; 
    padding: 16px; 
    border-radius: 5px; 
}

.menu-left_top button {
    color: #fff;
}

.menu-left_middle {
    display: flex;
    flex-direction: column; 
    margin-top: -30px; 
}

.menu-left_middle button {
    margin-top: 30px;
}

.active {
    background-color: #067df2;
    padding: 14px; 
    border-radius: 5px;
}